@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');


.App {
  text-align: center ;
  background-color: rgb(241, 239, 216);
}

.form{
  height: 100vh;
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .logo{
    width:20%;
    height:15%;
    z-index:10;
    margin-top:-4%;
    margin-bottom:-5%;
}

.App button{
  width:90px; 
  height:30px;
  margin:5px; 
  border:none; 
  background-color:#c9e265;
  border-radius: 2px;
  box-shadow: 0 0 3px 0 grey;
  transition-property: background-color;
  transition-duration: 150ms;
}

.App button:hover{
  background-color:yellow;
}

.display{
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-around; 
}

.display img{
  size:absolute; 
  width:600px; 
  height:60%;
}

.display h1{
  font-family: 'Libre Baskerville', serif;
}